@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    background: transparent;
    font-family: 'League Spartan';
}

:root{
    --body-background : #3A4663;
    --main-color : #FFFFFF;
    --switch-background : #242D44;
    --screen-background: #181F33;
    --edit-buttons-color: #FFFFFF;
    --inputs-color: #434A59;
    --edit-buttons-background: #647198;
    --keyboard-background: #242D44;
    --switch-left-margin: 0;
    --inputs-box-shadow: inset 0px -4px 0px #B3A497;
    --keys-background: #EAE3DC;
    --answer-button-color: #FFFFFF;
    --switch-and-answer-bottons: #D03F2F;
    --edit-box-shadow: inset 0px -4px 0px #414E73;
    --answer-box-shadow: inset 0px -4px 0px #93261A;
    --hover-input-color: #FFFFFE;
    --hover-edit-background: #A2B2E1;
    --answer-button: #F96B5B;

}

body{

    background: var(--body-background);
    padding: 2%;
}

.wrapper{
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    column-gap: 10px;
    width: 340px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    color: var(--main-color);
}

#theme{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

#theme-number{
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    padding-left: 90px;
    font-size: 12px;

}

#color-theme{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    font-size: 8px;
}

#color-theme-switch{
    position: relative;
    width: 37px;
    background: var(--switch-background);
    height: 15px;
    border-radius: 50px;
    margin-left: 15px;
}

#switch{
    position: absolute;
    height: 8px;
    width: 8px;
    top: 3px;
    border-radius: 50%;
    background: var(--switch-and-answer-bottons);
    left: var(--switch-left-margin);
}